/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS 
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}
*/

/* navbar styling */
nav{
  position: fixed;
  width: 100%;
  padding: 13px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
  background-color: #fff;
}
nav.sticky{
  background: #4070f4;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
}
nav.sticky .navbar .logo a{
  color: #fff;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: #0E2431; /*0E2431*/
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover{
  color: #4070f4;
}
nav.sticky .menu a{
  color: #FFF;
}
nav.sticky .menu a:hover{
  color: #0E2431;
}
.navbar .media-icons a{
  color: #4070f4;
  font-size: 18px;
  margin: 0 6px;
}
nav.sticky .media-icons a{
  color: #FFF;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #4070f4;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}




.icon-medium {
  font-size: 20px; /* Imposta la dimensione desiderata in pixel */
}




/*home section*/
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("home_photo.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  color: #fff; /* Cambia il colore del testo in base alle tue esigenze */
  z-index: 1; /* Imposta un valore di z-index per l'elemento .home */
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 125, 187, 0.8); /* Colore di sfondo azzurro con un'opacità del 50% */
  z-index: -1;
}

.home-content {
  position: relative;
  z-index: 2; /* Imposta un valore di z-index superiore per l'elemento .home-content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: auto;
}



.home .text-one{
  font-size: 25px;
  color: #a0cfee;
  /*color: #0E2431;*/
}

.home .text-two{
  color: #fff; /*#0E2431*/
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three{
  font-size: 40px;
  margin: 5px 0;
  color: #a0cfee;
}


/* style.css */
.cerchio {
  width: 250px; /* Imposta la larghezza e l'altezza del cerchio */
  height: 250px;
  background-color: #3498db; /* Colore di sfondo del cerchio */
  border-radius: 50%; /* Rendi il bordo circolare */
  display: flex;
  justify-content: center;
  overflow: hidden; /* Assicurati che l'immagine non esca dal cerchio */

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.cerchio img {
  max-width: 100%;
  max-height: 100%;
}


#scorri i{
  animation: pulsate 1.5s ease;
  animation-iteration-count: infinite;
  vertical-align: top;
  padding-top: 7px;
}



/* icon: https://fortawesome.github.io/Font-Awesome/icons/ */
/* Animation: https://daneden.github.io/animate.css/ */



.arrow-container{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.arrow-1{
  width: 100px;
  height: 100px;
  background: #00BCD4;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
}

.arrow-2{
  width: 60px;
  height: 60px;
  background: #00BCD4;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: table;
}

.arrow-2:before{
  width: 52px;
  height: 52px;
  content: "";
  border: 2px solid #006064;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}

.arrow-2 i.fa{
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #006064;
}

/* Custom Animate.css */

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
          animation-iteration-count: infinite; /* Rende l'animazione infinita */

}



















/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section{
  padding-top: 40px;
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.project .project-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.project .project-details .left{
  width: 45%;
}
.project .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.project-details .right{
  width: 55%;
}
section  .topic{
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.project-details .right p{
  text-align: justify;
  color: #0E2431;
}
section .button{
  margin: 16px 0;
}
section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover{
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}


/*Icone*/
/* Stile di base per l'elemento con classe "profile-icon" */
.profile-icon {
  display: inline-block; /* Imposta l'elemento come "inline-block" per adattarsi al contenuto */
  font-size: 40px; /* Imposta la dimensione del carattere dell'icona */
  color: #333; /* Cambia il colore dell'icona */
}

/* Stile quando il mouse passa sopra l'icona */
.profile-icon i:hover {
  color: #007BFF; /* Cambia il colore dell'icona quando il mouse passa sopra */
}






.aboutme, .education, .experiences {
  flex: 1; /* Fanno sì che le sezioni occupino la stessa quantità di spazio disponibile */
  margin: 10px; /* Imposta il margine tra le sezioni */
}


 /*About me*/
 .about{
  background: #F0F8FF;
}
.about .content{
  padding: 40px 0;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}
.about-details .text{
  width: 50%;
}
.about-details p{
  color: #0E2431;
  text-align: justify;
}


/*Timeline*/
.carousel {
  --scrollbarHeight: 4px;
  --scrollbarColor: #D82B6A;
  --carouselHeight: 200px;
  --fadeWidth: 50px;
  --padding: 8px;
  --radius: 8px;
  --bg: white;
  display: block;
  font-size: 0;
  border-radius: var(--radius);
  padding: var(--padding);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background: var(--bg);
  transform: translateZ(0);
  height: var(--carouselHeight);
  -webkit-overflow-scrolling: touch;
}

.carousel > .wrap {
  overflow: hidden;
  border-radius: var(--radius - var(--padding) / 2);
}

.carousel > .wrap::before, .carousel > .wrap::after {
  content: '\2039';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: var(--fadeWidth);
  font-size: 80px;
  text-indent: -30px;
  line-height: var(--carouselHeight);
  font-family: monospace;
  color: #555;
  font-weight: bold;
  border-radius: var(--radius);
  pointer-events: none;
  transition: 0.2s ease-out;
  background: linear-gradient(to right, white 20%, transparent);
}

.carousel > .wrap::after {
  transform: rotate(180deg);
  left: auto;
  right: 0;
}

.carousel > .wrap > ul {
  list-style: none;
  white-space: nowrap;
  height: var(--carouselHeight);
}

.carousel > .wrap > ul > li {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin: 0 0 0 5px;
  position: relative;
  overflow: hidden;
  transition: 0.25s ease-out;
}

.carousel > .wrap > ul > li:first-child {
  margin: 0;
}
/*
.carousel > .wrap > ul > li > img {
  display: block;
  height: 100%;
  margin: auto;
  /*vertical-align: bottom;
  position: relative;
  z-index: 1;
  transition: 1s ease;
}
*/





 /*Skills */
 .skills{
   background: #F0F8FF;
 }
 .skills .content{
   padding: 40px 0;
 }
 .skills .skills-details{
   display: flex;
   justify-content: space-between;
   /*align-items: center;*/
 }
 .skills-details .text{
   width: 50%;
 }
 .skills-details p{
   color: #0E2431;
   text-align: justify;
 }

 .skillsme, .languages, .software {
  flex: 1; /* Fanno sì che le sezioni occupino la stessa quantità di spazio disponibile */
  margin: 10px; /* Imposta il margine tra le sezioni */
}

.skillsme{
  height: 500px;
  width: 300px;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 40px;
   box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}
/*
.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}
*/

.card .card_image {
  display: flex;
  justify-content: center; /* Centro orizzontalmente */
  align-items: center; /* Centro verticalmente */
  width: 100px;
  height: 100px;
}

.card .card_image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

/* Stile per .card_text, inizialmente nascosto */
.card_text {
  display: none;
}

/* Stile per .card quando passi il mouse sopra di esso */
.card:hover .card_text {
  display: block; /* Visualizza il testo quando il mouse è sopra .card */
  text-align: center;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/














/* Contact Me CSS */
.contact{
  background: #F0F8FF;
}
.contact .content{
  margin: 0 auto;
  padding: 30px 0;
}
.contact .text{
  width: 80%;
  text-align: center;
  margin: auto;
}

/* Footer CSS */
footer{
  background: #4070f4;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a{
  font-weight: 500;
  color: #FFF;
}
footer .text span a:hover{
  text-decoration: underline;
}
/* Scroll TO Top Button CSS */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #4070f4;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  nav .navbar .menu a{
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color: #4070f4;
  }
  nav .navbar .media-icons{
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
  .skills .skills-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: 100%;
  }
  .contact .text{
    width: 100%;
}
}

@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
  .skills-details .boxes .per{
    font-size: 50px;
    color: #4070f4;
  }
}




/*Skills*/
.skills ul {
  list-style-type: none;
}

/*  3. Skills
================================================================================ */
#skills-animation {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

#skills-animation li {
  position: relative;
  margin-bottom: 32px;
  padding-left: 6px;
}

#skills-animation li .bar-container,
#skills-animation li .bar {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 5px;
  content: "";
}

#skills-animation li .bar-container {
  bottom: -8px;
  width: 90%;
  background-color: #333;
  text-align: right;
}

#skills-animation li .bar {
  top: 0;
}

#skills-animation li .pct {
  position: absolute;
  top: -22px;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s linear;
}
